@font-face {
    font-family: "Urbanist-Medium";
    src: url(../fonts/Urbanist-Medium.ttf) format("truetype");

    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Urbanist-SemiBold";
    src: url(../fonts/Urbanist-SemiBold.ttf) format("truetype");

    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Urbanist-Medium";
    src: url(../fonts/Urbanist-Bold.ttf) format("truetype");

    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}

body {
    font-family: Urbanist-Medium;
    background-color: var(--Grey-10, #1a1a1a);
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1950px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}
