.container {
    width: 100%;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fbfbfb;
}

.wrapper {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

.gardenNewsBLock {
    display: flex;
    justify-content: space-between;

    .news {
        display: flex;

        .elem {
            padding: 24px;
            max-width: 230px;

            h4 {
                margin-top: 17px;

                color: #3d3d3d;
                font-family: CeraPro-Bold;
                font-size: 17px;
                line-height: 16px; /* 94.118% */
            }

            p {
                margin-top: 9px;

                color: #727272;
                font-family: CeraPro-Regular;
                font-size: 14px;
                line-height: 22px; /* 157.143% */
            }

            &:not(:last-child) {
                border-right: 1px solid rgba(70, 163, 88, 0.1);
            }
        }
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        gap: 18px;

        max-width: 404px;
        padding: 25px;

        h3 {
            color: #3d3d3d;
            font-family: CeraPro-Bold;
            font-size: 18px;
            line-height: 16px; /* 88.889% */
        }
        .inputField {
            display: flex;

            input {
                max-width: 354px;
                width: 75%;
                padding: 12px 11px;

                color: #acacac;
                font-family: CeraPro-Regular;
                font-size: 14px;
                line-height: 16px; /* 114.286% */
                outline: none;
                border-radius: 6px;
                border: none;
                background: #fff;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);

                &::placeholder {
                    font: inherit;
                    color: inherit;
                }
            }

            button {
                width: 85px;

                border-radius: 0px 6px 6px 0px;
                background: #46a358;
                color: #fff;
                border: none;
                cursor: pointer;
                transition: 0.5s;

                color: #fff;
                font-family: CeraPro-Bold;
                font-size: 18px;
                line-height: 16px; /* 88.889% */

                &:hover {
                    background-color: #2c6938;
                }
            }
        }

        p {
            color: #727272;
            font-family: CeraPro-Regular;
            font-size: 13px;
            line-height: 22px; /* 169.231% */
        }
    }
}
