.container {
    width: 100%;
    max-width: 1950px;
    margin: 0 auto;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
}

.container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    width: 160px;
    height: 48px;

    background: url(./assets/logo.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav p {
    color: var(--Absolute-White, #fff);
    font: 500 18px Urbanist-Medium;
    line-height: 150%; /* 27px */
    cursor: pointer;
}

.contactBtn {
    max-width: 136px;
    width: 100%;
    padding: 16px 0;

    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--Grey-15, #262626);
    background: var(--Grey-08, #141414);
    cursor: pointer;
}
